html{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    background-color: wheat;
}

.calc{
    background-color: rgb(63, 63, 63);
    color: white;

    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;

    border-radius: 50px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.txt{
    background-color: rgb(32, 32, 32);
    
    padding-top: 5%;
    padding: 14px 14px;

    text-align: right;

    font-family: sans-serif;
    font-size: 30px;
}

.btn{
    font-family: sans-serif;
    font-size: 50px;

    padding: 14px 14px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.s{
    padding: 10px 10px;
}

.ctrl{
    background-color: rgb(156, 156, 156);
    color: white;

    text-align:center;

    border-radius: 5px;
}

.eq1{
    background-color: rgb(42, 61, 236);
    color: white;

    text-align:center;

    border-radius: 5px;
}

.num{
    background-color: rgb(90, 90, 90);
    color: white;

    text-align:center;

    border-radius: 5px;
}

.who{
    text-align: center;

    border-radius: 50px;

    width: 50%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;
}
.who img{
    width: 80px;

    border: 3px solid black;
    border-radius: 100%;
}
.who h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.who p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;

    direction: rtl;
}

.who:hover{
    animation: none me 2s;
}

.num:hover{
    animation: none hov 1s;
}
.ctrl:hover{
    animation: none hov 1s;
}
.eq1:hover{
    animation: none hov 1s;
}


/*
==================
||  animations  ||
==================
*/
@keyframes hov{
    50% {
        font-size: 55px;
        -webkit-filter: contrast(50%);
    }
}

@keyframes me{
    25%{
        border-right: 2px solid black;
    }
    
    50%{
        border-right: 2px solid black;
        border-top: 2px solid black;
    }

    75%{
        border-right: 2px solid black;
        border-top: 2px solid black;
        border-left: 2px solid black;
    }

    100%{
        border-right: 2px solid black;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
}

/*
==================
||  responsive  ||
==================
*/

@media screen and (max-width: 500px) {
    .btn{
        font-size: 30px;
    }

    .calc{
        width: 100%;
    }
}